__pycache__

*.swp
*.vscode
*.DS_Store
__pycache__
*.swp
*.vscode

*.db
*.log

*.tmp.*

# Ignore frontend javascript
# To be compiled from typescript
memo/frontend/scripts/*
!memo/frontend/scripts/.gitkeep

node_modules
package-lock.json
