__pycache__

*.swp
*.vscode

*.db
*.log

*.tmp.*

*.db

# Ignore frontend javascript
# To be compiled from typescript
memo/frontend/scripts/*
!memo/frontend/scripts/.gitkeep

node_modules
package-lock.json
