
body {
    margin-bottom: 0px;
    max-width: 80vw;
}

div.operation{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

div.btn{
    margin-left: auto;
}

div.btn input[type="button"]{
    min-width: 50px;
}

#inputView {
    min-height: 200px;
    width: 100%;
    margin-top: 5px;
    /* https://stackoverflow.com/a/4180863/6775765 */
    box-sizing: border-box;
    padding: 20px;
    border: 0px;
    border-radius: 5px;
    color: #333;
    font-family: var(--font-song);;
    letter-spacing:normal;
    line-height:1.5;
}

#editSaveBtn {
    min-width: 100px;
    margin-right: 0px;
    margin-left: auto;
}

#timeAddedInput {
    border: 0px;
}
